html,
body,
#root {
  height: 100%;
}

.App {
  background: orange;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-selected {
  margin-bottom: 40px;
}

.you-won {
  margin-right: 10px;
}

.game-container {
  border-radius: 20px;
  padding: 40px;
  background-color: tomato;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  cursor: pointer;
  margin: 0 10px;
}

.btn {
  height: 100px;
  width: 100px;
  border: 2px white solid;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  margin-bottom: 5px;
}

.steps {
  font-size: 20px;
  margin-bottom: 50px;
  color: white;
  font-weight: 800;
  padding: 10px;
  background-color: tomato;
  border-radius: 20px;
}

.again {
  cursor: pointer;
  color: white;
  background-color: tomato;
  font-weight: 800;
  padding: 10px;
  border: none;
  border-radius: 20px;
}

.you-won {
  color: white;
}
